<div class="flex m-auto h-screen justify-center">
  <form (ngSubmit)="register()" #myForm="ngForm" class="p-4 rounded-lg border">
    <h1 class="text-center text-xl">Login</h1>
    <div>
      <label for="email">e-mail
        <input type="email" class="p-2 rounded h-7" [(ngModel)]="form.email" name="email" #email="ngModel" required />
      </label>
    </div>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="p-2 bg bg-red-300 text-red-700 rounded">
      email field must be valid.
    </div>
    <div>
      <label for="password">Password
        <input type="password" class="p-2 rounded h-8" [(ngModel)]="form.password" name="password" #password="ngModel" required />
      </label>
    </div>
    <div *ngIf="password.invalid && password.touched" class="p-2 bg bg-red-300 text-red-700 rounded">
      password field must be valid.
    </div>
    <div>
      <label for="password">Confirm Password
        <input type="password" class="p-2 rounded h-8" [(ngModel)]="form.confirm" name="confirm" #confirm="ngModel" required />
      </label>
    </div>
    <div *ngIf="confirm.invalid && confirm.touched" class="p-2 bg bg-red-300 text-red-700 rounded">
      confirm field must be valid.
    </div>
    <div>
      <button type="submit" class="p-2 w-full bg-orange-600 text-white" [disabled]="myForm.form.invalid" >
        <ng-container *ngIf="isLoading()">Loading ...</ng-container>
        <ng-container *ngIf="!isLoading()">Submit</ng-container>
      </button>
    </div>
  </form>
</div>